body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: rgb(42, 10, 183);
}

h1 .highlight {
  color: rgba(203, 203, 203, 0.802);}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

h4 {
  text-align: center;
  font-size: 1.25rem;
  color: rgb(42, 10, 183);
}

.App {
  height: 100%;
  padding: 0 1% 0 1%;
  background-image: url('./namroud-gorguis-FZWivbri0Xk-unsplash.jpg');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(20, 1fr);
}

/* .App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
} */

.SearchBar {
  grid-area: 2 / 8 / 4 / 14;
}

.App h1 {
  grid-area: 8 / 8 / 9 / 14;
}

.App h4 {
  grid-area: 12 / 8 / 13 / 14;
}

.SearchResults {
  grid-area: 5 / 1 / 20 / 6;
  width: 100%;
}

.Playlist {
  grid-area: 5 / 15 / 20/ 20;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}