body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: rgb(42, 10, 183);
}

h1 .highlight {
  color: rgba(203, 203, 203, 0.802);}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

h4 {
  text-align: center;
  font-size: 1.25rem;
  color: rgb(42, 10, 183);
}

.App {
  height: 100%;
  padding: 0 17% 0 17%;
  background-image: url('./namroud-gorguis-FZWivbri0Xk-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}